<!-- Tailwind UI component -->
<nav class="bg-purple-400">
  <div class="max-w-7xl px-20">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:block">
          <div class="flex space-x-4">
            <a [routerLink]="'/home'" [routerLinkActive]="'bg-purple-300'" class="text-white hover:bg-white hover:text-purple-500 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Homepage</a>
            <a [routerLink]="'/form'" [routerLinkActive]="'bg-purple-300'" class="text-white hover:bg-white hover:text-purple-500 px-3 py-2 rounded-md text-sm font-medium">Form</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
